# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

# Used for several other paths in `paths/default.yaml`
PROJECT_ROOT="/path/to/project/root"

# All output is logged here
# E.g. set to `/path/to/ectil/logs`
LOG_DIR="/path/to/your/preferred/log/directory"

# Used by feature extraction. All resulting slides are used for feature extraction
TCGA_BRCA_IMAGES_ROOT="/path/to/root/of/TCGA/images/to/glob/search"
TCGA_BRCA_IMAGES_GLOB="**/*.svs" 

# Used for training/inference. This is where the h5 files are written to from the extraction pipeline
TCGA_BRCA_H5_ROOT_DIR="/path/to/dump/dir/of/extracted_features"